
*{
  margin: 0;
  padding: 0;
}
:root{
  --first-primary-color: rgb( 233,155, 21);
  --second-primary-color: rgb(128,14,19);
  --third-primary-color: rgba(1, 71, 35, 255);
  --sidebar-background-color: rgba(49, 49, 49, 0.9);
  --nav-hover-color: #f0f0f0;
  --white: #fff;
  --coffee-brown: #000000;
  --normal-font-size: .9rem;
  --large-font-size: 3rem;
    --biggest-font-size: 3rem;
    --semi-large-font-size: 2.5rem;
    --medium-font-size: 1.9rem;
    --h1-font-size: 1.9rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --footer-font-size: 0.95rem;
    --small-font-size: 0.875rem;
    --font-size-icon: 2rem;
    --font-icon-mobile-size: 1rem;
    --font-size-icon-hover: 2.5rem;


}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Tahoma, Geneva, Verdana, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height:  100vh;
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
